@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University Track and Field</h1>
    <h2>Back off, Were gonna beat you</h2>
    <p>
        Contoso University Track and Field Track and Field is devoted to excellence in Winning 

        <h3>History</h3>
    <p> Established in 1636, Contoso is the oldest institution of higher education in the United States. Learn more about the University's history.</p>

    <h3>Latest News</h3>
    <p> For the latest news from Contoso, sign up for the Daily Contosbro email newsletter.</p>

    <h3>Visit Contoso</h3>
    <p> Contoso greets people from all over the world, providing historical and general information about campus to visitors, neighbors, and the public. Get more information about tours and visiting Contoso.</p>
    <img src="~/Images/8a3115c5_6e0c_41bb_aab9_6ece71a11834_94ad4e00-6021-4c51-8e2e-ee425fdff0c8.jpg" width="1000">

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University Track and Field Track and Field</h2>
        <p>
            Oh, you think darkness is your ally. But you merely adopted the dark; I was born in it, moulded by it.
            I didn't see the light until I was already a man,
            by then it was nothing to me but BLINDING!

        </p>

    </div>
    <div class="col-md-4">
        <h2>Multi Cultural Team</h2>
        <p>A Buddhist walks up to a hot dog stand and says, “Make me one with everything.”</p>
    </div>
  
    <div class="col-md-4">
        <h2>Our Athletes</h2>
        <p  style="color:blue";>
            <a class="nav-link text-dark" asp-area="" asp-controller="Athletes" asp-action="Index">Click here to see our Team</a> 
        </p>
    </div>
</div>